# https://editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{yml,yaml,json,js,mjs,cjs,ts,tsx,jsx,md,toml}]
indent_size = 2

# Two trailing spaces are a hard line break in Markdown.
[*.md]
trim_trailing_whitespace = false

[*.{bat,cmd}]
end_of_line = crlf

[Makefile]
indent_style = tab
